*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Segoe UI,Tahoma,Geneva,Verdana,sans-serif;
}

body{
    margin: 0;
    font-family: Arial;
}

header{
    background:#1C1C1C;
    color:#fff;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:18px 25px;
    box-shadow:0 2px 8px rgba(0,0,0,.2);
}

.logo{
    height: 45px;
    width: auto;
    object-fit: contain;
    margin-right:10px;
}




header h1{
    font-size:28px;
}

#btnAdmin{
    background:#fff;
    color:#0f4c81;
    border:none;
    width:48px;
    height:48px;
    border-radius:50%;
    cursor:pointer;
    font-size:22px;
    transition:.3s;
}

#btnAdmin:hover{
    transform:rotate(90deg);
    background:#dbeafe;
}

main{
    max-width:1100px;
    margin:auto;
    padding:30px 20px;
}

.hora{
    text-align:center;
    margin-bottom:20px;
}

.hora h2{
    font-size:34px;
    color:#0f4c81;
}

.estado{
    background:#dbeafe;
    color:#0f4c81;
    border-left:6px solid #2563eb;
    padding:18px;
    border-radius:10px;
    font-size:22px;
    font-weight:bold;
    margin-bottom:25px;
}

#contenedorTurnos{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(320px,1fr));
    gap:20px;
}

.card{
    background:white;
    border-radius:15px;
    padding:25px;
    box-shadow:0 5px 15px rgba(0,0,0,.1);
    transition:.3s;
}

.card:hover{
    transform:translateY(-5px);
}

.card h2{
    color:#0f4c81;
    margin-bottom:20px;
}

.persona{
    background:#f8fafc;
    border-radius:10px;
    padding:15px;
    margin-bottom:15px;
}

.persona h3{
    color:#2563eb;
    margin-bottom:8px;
}

.persona p{
    font-size:22px;
    font-weight:bold;
}

.actualizacion{
    margin-top:30px;
    text-align:center;
    color:#6b7280;
    font-size:16px;
}

.oculto{
    display:none;
}

/* Responsive */

@media(max-width:768px){

header{
    flex-direction:column;
    gap:15px;
}

header h1{
    font-size:22px;
    text-align:center;
}

.hora h2{
    font-size:28px;
}

.estado{
    font-size:18px;
}

.persona p{
    font-size:20px;
}

}

.admin{
    max-width:600px;
    margin:40px auto;
    background:#ffffff;
    padding:30px;
    border-radius:15px;
    box-shadow:0 5px 15px rgba(0,0,0,.15);
}

.admin h1{
    color:#0f4c81;
    text-align:center;
    margin-bottom:20px;
}

.admin h2{
    margin-top:25px;
    color:#2563eb;
}

.admin label{
    display:block;
    margin-top:15px;
    font-weight:bold;
}

.admin select{
    width:100%;
    padding:12px;
    margin-top:5px;
    border-radius:8px;
    border:1px solid #ccc;
    font-size:16px;
}

.admin button{
    width:100%;
    padding:14px;
    margin-top:15px;
    border:none;
    border-radius:8px;
    font-size:18px;
    cursor:pointer;
    background:#0f4c81;
    color:white;
}

.admin button:hover{
    background:#2563eb;
}

.login-body{
    
    height: 100vh;

    background: url("../imagenes/nos.png") no-repeat center center fixed;
    background-size: cover;

    display: flex;
    justify-content: center;
    align-items: center;
   
}

.login-box{
     background: rgba(255,255,255,0.85);
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.3);
}

.login-box input{
    width:100%;
    padding:10px;
    margin:8px 0;
}

.login-box button{
    width:100%;
    padding:10px;
    background:#0f4c81;
    color:white;
    border:none;
    border-radius:8px;
    cursor:pointer;
}

#msg{
    color:red;
    margin-top:10px;
}
.login-logo{
    height: 45px;
    width: auto;
    object-fit: contain;
    margin-bottom: 10px;
    border-radius: 10px;
}

.switch-container{
    display:flex;
    align-items:center;
    justify-content:center;
    gap:10px;
    margin:10px 0;
    font-weight:bold;
    color:#333;
}

/* Switch base */
.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 26px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0; left: 0; right: 0; bottom: 0;
  background-color: #ccc;
  transition: .4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: .4s;
  border-radius: 50%;
}

/* activo */
input:checked + .slider {
  background-color: #0f4c81;
}

input:checked + .slider:before {
  transform: translateX(24px);
}

.footer-credit{
    position: absolute;
    bottom: 10px;
    width: 100%;
    text-align: center;

    font-size: 11px;
    font-weight: 300;

    color: rgba(255, 255, 255, 0.55);

    background: rgba(0,0,0,0.15);
    padding: 6px 0;

    backdrop-filter: blur(4px);

    user-select: none;
    pointer-events: none;
}

.footer-index{
    position: fixed;
    bottom: 8px;
    width: 100%;
    text-align: center;

    font-size: 12px;
    font-weight: 300;
    letter-spacing: 1px;

    color: rgba(0, 0, 0, 0.55);

    text-shadow: 0 1px 5px rgba(255,255,255,0.4);

    user-select: none;
    pointer-events: none;

    z-index: 10;
}

.footer-admin{
    position: fixed;
    bottom: 10px;
    width: 100%;
    text-align: center;

    font-size: 12px;
    font-weight: 400;
    letter-spacing: 1px;

    color: rgba(0, 0, 0, 0.65);

    background: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(6px);

    padding: 6px 0;

    z-index: 999;
}

#fechaActual{
    text-align: center;
    margin: 10px 0;

    font-size: 14px;
    font-weight: 500;

    color: #333;

    background: rgba(255,255,255,0.6);
    display: inline-block;
    padding: 6px 14px;
    border-radius: 12px;

    backdrop-filter: blur(6px);
}